{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
   
</style>

<div class="container">
    {% include 'base/nav.html.twig' %}
    
    
    {% include 'base/courses.html.twig' %}
</div>
{% endblock %}
